@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&family=VT323&display=swap'); /* VT323, Rokkitt */

:root {
  --font-main: "Rokkitt";
  --font-secondary: "VT323";
}

body {
  color: #ffffff;
  background-color: #000000;
  font-family: var(--font-main);
  font-size: 16px;
}

#content-wrap {
  padding: 0px 0px 0px 8px;
  overflow: hidden;
}

#content {
  /* styles tbd */
}

.directoryTitle {
  font-family: var(--font-secondary);
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  margin: -10px;
}

.lineBreak::before {
  content: "==============================================================================";
}

.lineBreak {
  color: #ffffff;
  margin: 10px 0px 10px 0px;
}

#mainClicker {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-secondary);
  border: 1.5px dotted #ffffff;
  background-color: #000000;
  padding: 10px 12px;
}

#mainClicker:hover {
  filter: invert(25%);
  cursor: pointer;
}
#inputReader {
  background-color: transparent;
  border: 0px;
}
#inputReader, #inputReader:focus, #inputReader::placeholder {
  background-color: transparent; 
  outline:none;
  font-family: var(--font-secondary);
  font-size: 25px;
  color:white;
  caret-color: white;
  caret-shape: block;
  width:100vw;
}
