@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap'); /* VT323, Ubuntu Mono */

:root {
  --font-main: "Ubuntu Mono";
  --font-secondary: "VT323";
}

body {
  color: #ffffff;
  background-color: #000000;
  font-family: var(--font-secondary);
  font-size: 25px;
}

#content-wrap {
  padding: 0px 0px 0px 8px;
  overflow: hidden;
}

#content {
  /* styles tbd */
}

.sideMenu {
  height: 100%;
  width: 450px;
  display: block;
  position: sticky;
  right: 0;
  float: right;
  border-left: 1px double #ffffff;
}

.topBar {
  position: sticky;
  top: 0;
  background-color: #000000;
}

.directoryTitle {
  font-family: var(--font-main);
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  margin: -12px;
}

.lineBreak::before {
  content: "==============================================================================";
}

.lineBreak {
  color: #ffffff;
  margin: 10px 0px 10px 0px;
}

#mainClicker {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-secondary);
  border: 1.5px dotted #ffffff;
  background-color: #000000;
  padding: 10px 12px;
}

#mainClicker:hover {
  filter: invert(25%);
  cursor: pointer;
}

#inputReader::before {
  white-space: pre;
  content: "root@archiso ~ #";
}

#inputReader {
  background-color: transparent;
  border: 0px;
}

#inputReader, 
#inputReader:focus, 
#inputReader::placeholder {
  background-color: transparent; 
  outline: none;
  font-family: var(--font-secondary);
  font-size: 25px;
  color: white;
  caret-color: white;
  caret-shape: underscore;
  width: 90vw;
}
